<div class="d-flex p-3">
    <div class="sidebar-navigation p-3 vh-100" [class.d-none]="!sidebarVisible && isMobile()"
        [class.d-md-block]="!isMobile()">
        <div class="my-4">
            <img class="logo" src="/logo.png" alt="" />
        </div>
        <p-panelmenu [model]="items" styleClass="w-full md:w-80">
            <ng-template #item let-item>
                <ng-container>
                    <div class="d-flex align-items-center">
                        <a class="flex align-items-center p-2 cursor-pointer" routerLinkActive="bg-blue">
                            <span [class]="item.icon" class="text-blue"></span>
                            <span class="ms-3">{{ item.label }}</span>
                        </a>
                    </div>
                </ng-container>
            </ng-template>
        </p-panelmenu>
    </div>
    <div class="main-content container p-3">
        <div class="d-flex mb-5 align-items-center mobile-header">
            <button class="btn d-md-none mobile-menu-btn me-2" (click)="toggleSidebar()">
                <i class="pi pi-bars"></i>
            </button>
            <p-iconfield class="flex-grow-1 mobile-search">
                <p-inputicon class="pi pi-search" />
                <input type="text" pInputText placeholder="Search" class="text-black" pSize="large" />
            </p-iconfield>
            <button class="btn btn-primary px-3 mx-3 d-none d-md-block">Start Quiz</button>
            <p-avatar image="/user.jpg" shape="circle" size="large" class="d-none d-md-block" />
        </div>
        <router-outlet></router-outlet>
    </div>
</div>