<div class="d-flex">
    <div
        class="col-md-6 bg-gray d-flex align-items-center justify-content-center position-sticky top-0 vh-100 d-none d-md-flex shadow br-50">
        <app-auth-intro></app-auth-intro>
    </div>

    <div class="col-md-6 overflow-auto d-flex flex-column align-items-center align-items-md-stretch px-3 px-md-0">
        <div class="w-100 d-flex justify-content-center justify-content-md-end py-3">
            <app-auth-nav></app-auth-nav>
        </div>

        <div class="w-100 d-flex justify-content-center flex-grow-1 py-4">
            <div class="w-100" style="max-width: 400px;">
                <router-outlet></router-outlet>
                <app-auth-footerr></app-auth-footerr>
            </div>
        </div>
    </div>
</div>