<p-toast></p-toast>
<div class="d-flex justify-content-center align-items-center">
    <div class="w-100" style="max-width: 500px;">
        <h1 class="h2 text-dark fw-bold mb-4">Sign up</h1>
        <form [formGroup]="registerForm">
            <div class="mb-3">
                <p-floatlabel variant="in">
                    <input pInputText id="username" formControlName="username" class="form-control bg-white text-dark"
                        autocomplete="off" />
                    <label for="username">User Name</label>
                </p-floatlabel>
                @if(formControls['username'].invalid && formControls['username'].touched){
                <div id="nameHelp" class="form-text text-danger">
                    @if(formControls['username'].hasError('required')){
                    <span>Required</span>
                    }@else if(formControls['username'].hasError('minlength')){
                    <span>UserName must be at least 3 characters</span>
                    }
                </div>
                }
            </div>

            <div class="mb-3">
                <p-floatlabel variant="in">
                    <input pInputText formControlName="Fname" class="form-control bg-white text-dark"
                        autocomplete="off" />
                    <label for="Fname">First Name</label>
                </p-floatlabel>
                @if(formControls['Fname'].invalid && formControls['Lname'].touched){
                <div id="nameHelp" class="form-text text-danger">
                    @if(formControls['Fname'].hasError('required')){
                    <span>Required</span>
                    }@else if(formControls['Fname'].hasError('minlength')){
                    <span>firstName must be at least 3 characters</span>
                    }
                </div>
                }
            </div>

            <div class="mb-3">
                <p-floatlabel variant="in">
                    <input pInputText formControlName="Lname" class="form-control bg-white text-dark"
                        autocomplete="off" />
                    <label for="Lname">Last Name</label>
                </p-floatlabel>
                @if(formControls['Lname'].invalid && formControls['Lname'].touched){
                <div id="nameHelp" class="form-text text-danger">
                    @if(formControls['Lname'].hasError('required')){
                    <span>Required</span>
                    }@else if(formControls['Lname'].hasError('minlength')){
                    <span>LastName must be at least 3 characters</span>
                    }
                </div>
                }
            </div>

            <div class="mb-3">
                <p-floatlabel variant="in">
                    <input pInputText formControlName="Email" class="form-control bg-white text-dark"
                        autocomplete="off" />
                    <label for="username">Email</label>
                </p-floatlabel>
                @if(formControls['Email'].invalid && formControls['Email'].touched){
                <div id="nameHelp" class="form-text text-danger">
                    @if(formControls['Email'].hasError('required')){
                    <span>Required</span>
                    }@else if(formControls['Email'].hasError('email')){
                    <span>Not email format</span>
                    }
                </div>
                }
            </div>

            <div class="mb-3">
                <p-floatlabel variant="in">
                    <input pInputText type="password" formControlName="password" class="form-control bg-white text-dark"
                        autocomplete="off" />
                    <label for="password">Password</label>
                </p-floatlabel>
                @if(formControls['password'].invalid && formControls['password'].touched){
                <div id="nameHelp" class="form-text text-danger">
                    @if(formControls['password'].hasError('required')){
                    <span>Required</span>
                    }@else if(formControls['password'].hasError('minlength')){
                    <span>Password must be at least 8 characters</span>
                    }
                </div>
                }

            </div>

            <div class="mb-3">
                <p-floatlabel variant="in">
                    <input pInputText type="password" formControlName="rePassword"
                        class="form-control bg-white text-dark" autocomplete="off" />
                    <label for="rePassword">Confirm Password</label>
                </p-floatlabel>
                <div id="nameHelp" class="form-text text-danger">
                    @if(formControls['rePassword'].hasError('required')){
                    <span>Required</span>
                    }@else if(formControls['rePassword'].hasError('minlength')){
                    <span>ConfirmPassword must be at least 8 characters</span>
                    }
                </div>

            </div>

            <div class="mb-4">
                <p-floatlabel variant="in">
                    <input formControlName="phone" pInputText type="tel" class="form-control bg-white text-dark"
                        autocomplete="off" />
                    <label for="in_label">Phone</label>
                </p-floatlabel>
                @if(formControls['phone'].invalid && formControls['phone'].touched){
                <div id="nameHelp" class="form-text text-danger">
                    @if(formControls['phone'].hasError('required')){
                    <span>Required</span>
                    }
                </div>
                }
            </div>

            <p class="text-center text-dark mt-2 mb-3">
                Already have an account ? <a routerLink="/auth/login"
                    class="text-primary text-decoration-none">Login</a>
            </p>

            <div class="button mb-4">
                <p-button (click)="submit()" size="large" styleClass="bg-primary w-100 text-white border-none"
                    [disabled]="registerForm.invalid" label="Create Account" />
            </div>
        </form>
    </div>
</div>