@if (exams) {
<div class="mb-4 p-8" *ngFor="let item of exam">
    <p-card>
        <div class=" d-flex justify-content-between">
            <div>
                <span class="d-block mb-2">{{item.title}}</span>
                <span class="d-block text-off">{{item.numberOfQuestions}} Question</span>
            </div>
            <div>
                <span class="d-block mb-2"> {{item.duration}} Minutes</span>
                <button class="btn btn-primary px-4" (click)="openExam()">Start</button>
            </div>
        </div>
    </p-card>
</div>
}
@if (!exams) {
<h1>No Exams Available ! </h1>
}
@if (loading)
{
<div class="flex justify-content-center text-center" style=" height: 200px;">
    <p-progress-spinner ariaLabel="loading" />
</div>
}

<p-dialog id="dialog" [(visible)]="visible" [style]="{ width: '50vw' }" (onHide)="visible = false"
    [breakpoints]="{'960px': '75vw', '640px': '100vw'}">
    <ng-template pTemplate="header">
        <span>{{examName}}</span>
    </ng-template>
    <app-exam-question [questionsId]="questionsId"></app-exam-question>
</p-dialog>