@if (exams) {
@for (item of exam; track $index) {
<div class="mb-4 p-8">
    <p-card>
        <div class=" d-flex justify-content-between">
            <div>
                <span class="d-block mb-2">{{item.title}}</span>
                <span class="d-block text-off">{{item.numberOfQuestions}} Question</span>
            </div>
            <div>
                <span class="d-block mb-2"> {{item.duration}} Minutes</span>
                <button class="btn btn-primary px-4" (click)="openExam()">Start</button>
            </div>
        </div>
    </p-card>
</div>
}
}
@if (!exams) {
<h1>No Exams Available ! </h1>
}
@if (loading$ |async)
{
<div class="flex justify-content-center text-center" style=" height: 200px;">
    <p-progress-spinner ariaLabel="loading" />
</div>
}

<p-dialog [(visible)]="visible" [modal]="true" [style]="{width: '50vw'}" (onHide)="visible = false"
    header="{{ header }}">

    <ng-container [ngSwitch]="activeStep">
        <app-exam-question *ngSwitchCase="'exam'" (submitted)="onSubmit($event)">
        </app-exam-question>

        <app-exam-result *ngSwitchCase="'result'" [score]="score" (review)="goToReview()">
        </app-exam-result>


        <app-exam-review *ngSwitchCase="'review'" [incorrectQuestions]="incorrectQuestions"
            [selectedAnswers]="selectedAnswers" (reee)="exit()">
        </app-exam-review>

    </ng-container>

</p-dialog>