input:focus {
    border: 2px solid blue;
}

input:focus {
    border: 2px solid blue;
}

input {
    background: white;

}



::ng-deep .p-button {
    border-radius: 40px !important;
}

.clickable {
    cursor: pointer;
}