<p-toast></p-toast>
<div class="d-flex justify-content-center align-items-center mt-5">
    <div class="w-100" style="max-width: 400px;">
        <h1 class="h2 fw-bold mb-4 text-black">
            @switch(step) {
            @case ('email') { Forgot your password? }
            @case ('verify') { Verify code }
            @case ('reset') { Reset your password }
            }
        </h1>

        @if (step === 'email') {
        <form [formGroup]="emailForm" (ngSubmit)="submitEmail()">
            <div class="mb-3">
                <p-floatlabel variant="in">
                    <input pInputText formControlName="email" class="form-control bg-white text-black"
                        autocomplete="off" type="email" id="email" />
                    <label for="email">Enter Email</label>
                </p-floatlabel>
                <p class="text-end text-muted mt-2 mb-3">
                    <a class="text-primary text-decoration-none cursor-pointer">Recover Password ?</a>
                </p>
            </div>

            <div class="mb-4">
                <app-button [label]="'Send Code'" [disabled]="emailForm.invalid">
                </app-button>
            </div>
        </form>
        }

        @if (step === 'verify') {
        <form [formGroup]="verifyForm" (ngSubmit)="submitVerify()">
            <div class="mb-3">
                <p-floatlabel variant="in">
                    <input pInputText formControlName="code" class="form-control bg-white text-black" autocomplete="off"
                        id="verifyCode" />
                    <label for="verifyCode">Verification Code</label>
                </p-floatlabel>
                <p class="text-end text-muted mt-2 mb-3">
                    Didn't receive a code?
                    <a class="text-primary text-decoration-none clickable" (click)="resendCode()">
                        Resend
                    </a>
                </p>
            </div>

            <div class="mb-4">
                <app-button [label]="'Verify Code'" [disabled]="verifyForm.invalid">
                </app-button>
            </div>
        </form>
        }

        @if (step === 'reset') {
        <form [formGroup]="resetForm" (ngSubmit)="submitReset()">
            <div class="mb-3">
                <p-floatlabel variant="in">
                    <input pInputText type="password" formControlName="password"
                        class="form-control bg-white text-black" autocomplete="new-password" id="newPassword" />
                    <label for="newPassword">New Password</label>
                </p-floatlabel>
                <app-form-error [control]="formControls['password']" [messages]="{
            required: 'Required',
            minlength: 'Confirm password must be at least 8 characters',
             passwordMismatch: 'Passwords do not match'
          }" />
            </div>
            <div class="mb-3">
                <p-floatlabel variant="in">
                    <input pInputText type="password" formControlName="rePassword"
                        class="form-control bg-white text-black" autocomplete="new-password" id="newPassword" />
                    <label for="newPassword">Confirm Password</label>
                </p-floatlabel>
                <app-form-error [control]="formControls['rePassword']" [messages]="{
            required: 'Required',
            minlength: 'Confirm password must be at least 8 characters',
             passwordMismatch: 'Passwords do not match'
          }" />

            </div>

            <div class="mb-4">
                <app-button [label]="'Reset Password'" [disabled]="resetForm.invalid">
                </app-button>
            </div>
        </form>
        }
    </div>
</div>