<div class="d-flex justify-content-center align-items-center mt-5">
    <div class="w-100" style="max-width: 400px;">
        <h1 class="h2 fw-bold mb-4 text-black">
            @switch(currentStep) {
            @case ('email') { Forgot your password? }
            @case ('verify') { Verify code }
            @case ('reset') { Reset your password }
            }
        </h1>

        <form [formGroup]="forgetForm">
            @if (currentStep === 'email') {
            <div class="mb-3">
                <p-floatlabel variant="in">
                    <input pInputText formControlName="email" class="form-control bg-white text-black"
                        autocomplete="off" type="email" />
                    <label for="email">Enter Email</label>
                </p-floatlabel>
                <p class="text-end text-muted mt-2 mb-3">
                    <a class="text-primary text-decoration-none cursor-pointer">Recover Password ?</a>
                </p>
            </div>
            }

            @if (currentStep === 'verify') {
            <div class="mb-3">
                <p-floatlabel variant="in">
                    <input pInputText formControlName="verifyCode" class="form-control bg-white text-black"
                        autocomplete="off" />
                    <label for="verifyCode">Verification Code</label>
                </p-floatlabel>
                <p class="text-end text-muted mt-2 mb-3">
                    Didn't receive a code? <a class="text-primary text-decoration-none cursor-pointer">Resend</a>
                </p>
            </div>
            }

            @if (currentStep === 'reset') {
            <div class="mb-3">
                <p-floatlabel variant="in">
                    <input pInputText type="email" formControlName="email" class="form-control bg-white text-black"
                        autocomplete="off" />
                    <label>Email</label>
                </p-floatlabel>
            </div>
            <div class="mb-3">
                <p-floatlabel variant="in">
                    <input pInputText type="password" formControlName="newPassword"
                        class="form-control bg-white text-black" autocomplete="new-password" />
                    <label>New Password</label>
                </p-floatlabel>
            </div>
            }

            <div class="button mb-4">
                <p-button (click)="submit()" size="large" styleClass="bg-primary w-100 text-white border-none" [label]="currentStep === 'reset' ? 'Reset Password' : 
                            currentStep === 'verify' ? 'Verify Code' : 
                            'Send Code'"></p-button>
            </div>
        </form>

        <p class="text-muted text-center my-4">Or Continue with</p>

        <div class="d-flex justify-content-center gap-3">
            <span class="p-3 rounded-circle bg-light hover-bg-gray-200 cursor-pointer fs-5 text-black">
                <i class="pi pi-google"></i>
            </span>
            <span class="p-3 rounded-circle bg-light hover-bg-gray-200 cursor-pointer fs-5 text-black">
                <i class="pi pi-twitter"></i>
            </span>
            <span class="p-3 rounded-circle bg-light hover-bg-gray-200 cursor-pointer fs-5 text-black">
                <i class="pi pi-facebook"></i>
            </span>
            <span class="p-3 rounded-circle bg-light hover-bg-gray-200 cursor-pointer fs-5 text-black">
                <i class="pi pi-apple"></i>
            </span>
        </div>
    </div>
</div>