<p class="text-muted text-center my-4">Or Continue with</p>

<div class="d-flex justify-content-center gap-3">
    <span class="p-3 rounded-circle bg-light hover-bg-gray-200 cursor-pointer fs-5 text-dark">
        <i class="pi pi-google"></i>
    </span>
    <span class="p-3 rounded-circle bg-light hover-bg-gray-200 cursor-pointer fs-5 text-dark">
        <i class="pi pi-twitter"></i>
    </span>
    <span class="p-3 rounded-circle bg-light hover-bg-gray-200 cursor-pointer fs-5 text-dark">
        <i class="pi pi-facebook"></i>
    </span>
    <span class="p-3 rounded-circle bg-light hover-bg-gray-200 cursor-pointer fs-5 text-dark">
        <i class="pi pi-apple"></i>
    </span>
</div>