<p-card>
    <ng-template pTemplate="header">
        <div class="d-flex justify-content-between align-items-center p-3">
            <h2 class="text-blue">Quizes</h2>
            <a class="text-blue fs-5 cursor-pointer" (click)="toggleShowAll()">
                {{ showAll ? 'Show less' : 'View all' }}
            </a>
        </div>
    </ng-template>
    <div class="">
        <div class="row">
            @for (item of (showAll ? subjects : subjects.slice(0, 6)); track item._id) {
            <div class="col-md-4 mb-3">
                <p-card (click)="item._id ? getexam(item._id) : null">
                    <ng-template pTemplate=" content">
                        <div class="subject-card">
                            <img [src]="item.icon" alt="{{ item.title }}" class="subject-icon">
                            <div class="subject-title-overlay">
                                <h3 class="text-white">{{ item.name }}</h3>
                                <p> Voluptatem aut ut dignissimos blanditiis</p>
                            </div>
                        </div>
                    </ng-template>
                </p-card>
            </div>
            }
        </div>
    </div>
</p-card>
@if ( loader$| async)
{<div class="flex justify-content-center text-center" style=" height: 200px;">
    <p-progress-spinner ariaLabel=" loading" />
</div>}