@import "primeicons/primeicons.css";

body {
    background: white;
}

.wid-50 {
    max-width: 50%;
}

.bg-blue {
    background: rgba(68, 97, 242, 1) !important;
}

.text-blue {
    color: rgba(68, 97, 242, 1) !important;
}

.text-black {
    color: black !important;
}

.text-white {
    color: white !important;
}

.text-off {
    color: rgba(108, 115, 127, 1) !important;
}

.br-50 {
    border-radius: 50px;
}

.br-30 {
    border-radius: 30px;
}

.bg-gray {
    background: #f7f7f7 !important;
}

input:focus {
    border: 2px solid blue !important;
}

input {
    background: white !important;

}

::ng-deep .p-card {
    background-color: white !important;
}

::ng-deep .p-iconfield input {
    background-color: white !important;

}